root{
    display: block;
}
*{
    padding: 0;
    margin: 0;
}
img{
    border:none;
}
a{
    text-decoration: none;
}
body{

    font-family: 'open_sansregular';
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold-webfont.woff') format('woff'),
        url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
        url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Extrabold";
    src: url('../fonts/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold.svg#Open Sans Extrabold') format('svg'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Italic";
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Italic.svg#Open Sans') format('svg'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Semibold";
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.svg#Open Sans Semibold') format('svg'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans SemiboldItalic";
    src: url('../fonts/OpenSans-SemiboldItalic.eot');
    src: url('../fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiboldItalic.svg#Open Sans Semibold') format('svg'),
        url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'),
        url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Light";
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.svg#Open Sans Light') format('svg'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebasneue.eot');
    src: url('../fonts/bebasneue.eot') format('embedded-opentype'),
        url('../fonts/bebasneue.woff') format('woff'),
        url('../fonts/bebasneue.ttf') format('truetype'),
        url('../fonts/bebasneue.svg#BebasNeueRegular') format('svg');
}
@font-face {
    font-family: "Droid Serif";
    src: url('../fonts/DroidSerif-BoldItalic.eot');
    src: url('../fonts/DroidSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidSerif-BoldItalic.svg#Droid Serif') format('svg'),
        url('../fonts/DroidSerif-BoldItalic.woff') format('woff'),
        url('../fonts/DroidSerif-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.header{
    background: url(../img/bg.png) repeat-x;
    height: 50px;
}
.logo{
    margin-left: 60px;
    position: absolute;
    margin-top: 5px;
}
.menu{
    height: 40px;
}
.footer{
    background: rgb(16,16,16); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwMTAxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzE1MTUxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODE4MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(16,16,16,1) 0%, rgba(21,21,21,1) 51%, rgba(24,24,24,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,16,16,1)), color-stop(51%,rgba(21,21,21,1)), color-stop(100%,rgba(24,24,24,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(16,16,16,1) 0%,rgba(21,21,21,1) 51%,rgba(24,24,24,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(16,16,16,1) 0%,rgba(21,21,21,1) 51%,rgba(24,24,24,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(16,16,16,1) 0%,rgba(21,21,21,1) 51%,rgba(24,24,24,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(16,16,16,1) 0%,rgba(21,21,21,1) 51%,rgba(24,24,24,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#181818',GradientType=0 ); /* IE6-8 */

    height: 73px;
}
.copyright, .footmenu{
    font-family: "Arial";
    font-size: 12px;
    color:#666666;
    margin-top: 18px;
}
.footmenu a{
    color:#666666;
}
.footmenu li{
    display: inline-block;
    margin-right: 10px;
}
.futureweb{
    float:right;
}
.navbar-nav > li > a.active-menu{
    color:#9cd000;
}
.middle-img{
    margin-top: 2px;
    background-color: #f2f2f2;
}
.box-content{
    background: repeat-x top center url(../img/boxtop.png);
    /* position: absolute;
     margin-top: -10px; */
    margin-top: 11px;
    z-index: 100;

}
.paddingtop{
    padding-top: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.logout{
    float:right;
    margin-top: 13px;

}
.logout a{
    color:white;
}
.logout span{
    color:#4a6300;
    padding-right: 18px;
}