/* Large desktop */
@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width:1199px) {

}
@media (max-width:1200px){
    .nav li:nth-child(even){
        display: none;
    }
    .request{
        margin-top: 10px;
    }
    .foot-box-1{
        margin-left: 45px;
    }
    .slider{
        
    }
    .middle{
        background-position: center;
        width: 100%;
        
    }
    .middle-text {
        margin-top: 60px;
        padding-bottom: 30px;
    }
    .middle-bottom{
        width: 800px;
    }
    .aboutusbox, .newsactions{
        width: 220px;
    }
    .aboutusbox{
        margin-left: 0;
    }
    .newsactions{
        margin-left: 8.5px;
    }
    .login{
        margin-left: 8.5px;
    }
    .navbar-toggle{
        padding: 12px 10px;
        background-color: #9cd000;
        color:white;
        margin-right: 2px;
    }
    .navbar-toggle:before, .navbar-toggle:after{
        clear: both;
        content: "";
    }
    .navbar-toggle .icon-bar {
        background-color: #333333;
    }
    .navbar{
        margin-bottom: 0;
        border:none;
        min-height: 0;
    }   
    .container > .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
    }
    .footmenu li:last-child {
        margin-right: 0px;
    }
    .footmenu li{
        margin-right: 4px;
    }
    .right-content{
        margin-left: 60px;
        padding-left: 20px;
    }
}
@media (max-width:800px){
    .slider{
        display: none;
    }
}
@media (max-width:991px){
    .navbar-nav > li > a{
        padding-left: 5px;
    }
    .header{
        height: 100%;
    }
    .form-line div {
        display: block;
        text-align: center;
    }
    .form-line{display: block;}
    .line1, .line2, .line3{
        display: block;
    }
    .line1 div, .line2 div, .line3 div{
        display: block;
    }
    .news-box-content .smallimg{
        text-align: center;
    }
    .line4 div, .line5 div {
        display: block;
    }
    .line5 div:last-child input {

        margin-left: 0px;
    }
    .line4 div:last-child input {
        margin-left: 0px;
    }
    .data-change-form input[type="submit"] {
        margin-left: 0;
    }
    .hotels-list-title{
        margin-top: 10px;
        padding-bottom: 5px;
    }
    .foot-box-1{
        margin:auto;

    }
    .contracts-menu{
        width: auto;
        text-align: center;
    }
    .right-content{
        padding-left: 0;
        margin-left: 0;
        border-left: 0px;
        text-align: center;
    }
    .contracts-list li{
        text-align: center;
        width: auto;
    }
    .contracts-table{
        width: 100%;
    }
    .foot-box-2{
        float:none;
    }
    .hotels-list{
        text-align: center;
    }
    .request a{
        margin: 5px auto;
    }
    .footimg{
        text-align: center;
        margin-bottom: 10px;
    }
    .foot-box-title{
        text-align: center;
        margin-top: 10px;
    }
    .foot-box-1 table, .foot-box-2 table{
        margin: auto;
    }
    .logo{
        margin-left: 0;
    }
    .contact-foot{
        margin-bottom: 10px;
        padding-bottom: 0;
    }
    .slider{
        margin-top: 0;
    }
    .middle-bottom{
        position: relative;
        margin-top: 5px;
        width: 100%;
        margin-bottom: 0px;
    }
    .middle{
        height: auto;
    }
    .middle-text{
        margin-top: 60px;
    }
    .aboutusbox, .newsactions, .login{
        width: 100%;
        background: none;
        background-color: white;
        margin-left: 0;
    }
    .aboutustitle,.newsactionstitle, .logintitle{
        text-align: center;

    }
    .forgotandbutton{
        padding-bottom: 10px;
        margin: auto;
    }
    .footer{
        margin-top: 0;
        height: auto;
    }
    .loginboxtext{
        text-align: center;
    }
    .login form input[type="text"]:after,
    .login form input[type="text"]::after{
        clear: both;
    }
    .loginbox{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
    .footmenu ul{
        text-align: center;
    }
    .futureweb{
        float:none;

    }
    .futureweb img{
        margin: auto;
    }
    .heads-email{
        margin-bottom: 10px;
    }
    .checkin select{
        width: 100% !important;
        text-align: center;
        padding-left: 0px;
    }
    .in-line4 input{
        width: 100% !important;
    }
    .checkboxes table td{
        padding-bottom: 40px;
    }
    .in-line1 div, .in-line2 div, .in-line3 div, .in-line4 div{
        padding-right: 0;
        padding-bottom: 5px;
        display: block;
    }
    .checkboxes{
        margin-left: 0px;

    }
    .checkboxes table{
        margin: 5px auto;
    }
    .offer{
        margin-left: 0px;
        text-align: center;
    }
    .left-hotel ul li {
        background: none;
    }
    .text9{
        margin-left: 0;
        text-align: center;
    }
    .offer-box{
        margin-bottom: 10px;
    }
    .right-hotel{
        padding: 0;
        border-left:0px;
    }
    .place{
        text-align: center;
        background: none;
    }
    .hotel-name{
        float:none;
        text-align: center;
    }
    .stars{
        float:none;
        text-align: center;
    }
    .formembers{
        margin-left: 0px;
    }
    .for-title{
        text-align: center;
    }
    .for-list{
        width: 100%;
    }
    .for-list table{
        width: 100%;
    }
    .add-beds {
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
        margin-bottom: 40px;
        line-height: 17px;
    }

    .for-line td a{
        margin: auto;
    }

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .menu{
        height: auto;
    }

    .logout{
        float:none;
        text-align: center;
    }
    .hotel-name-and-stars{
        display: block;

    }
    .data-change-form .form-line input, .form-line2 input, .form-line3 input{
        width: 100% !important;
    }
    .footer-box ul{
        margin-left: 0px;
    }
    .hotel-name-and-stars div{
        display: block;
    }
    .logo img{
        margin: 0 auto;

    }
    .logo{
        position: relative;
    }
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    .navbar{
        float:none !important;
    }
    .navbar-collapse{
        max-height: none;
    }
    .navbar-nav > li{
        padding-top: 2px;
        text-align: center;
    }
    .navbar-nav > li > a{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-collapse.in {
        overflow-y: hidden;
    }
    .selector{
        padding-top: 60px;
    }
    .selector select{
        width: 100%;

    }
    .usual{
        line-height: 30px;
    }
    .middle-text{
        margin-top: 95px;
    }
    .navbar-nav{
        margin: 0;
    }  
    .color{
        text-align: center;
    }
    .how{
        text-align: center;
    }
    .list1 div:first-child, .list2 div:first-child{
        display: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .for-line td:last-child {
        float: none;
    }
}


@media(max-width:345px){
   
    .middle-img{
        display: none;
    }
}
