root{
    display: block;
}
*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: "Roboto";
}
a{
    text-decoration: none;
}
a:hover, a:focus{
    text-decoration: none;
    color:white;
}
/* Email */

.emailsuccess{
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

/* Email end */
/* Firefox bugfixer */
.bugfixer{
    height: 64px;
    content: '';
    clear: both;
}
/* bugfixer end */

/* Myworks */

.myworks h1{
    font-weight: bold;
}
.portf > h4{
    margin-bottom: 40px;
    text-decoration: underline;
    font-size: 24px;
    text-align: center;
}
.myworks .underc{
    position: relative;
}
.myworks .underc a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
}
.myworks .underc a:after{
    text-decoration: none;
    position: absolute;
    padding-top: 80px;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    content: 'Fejlesztés alatt!';
    background-color: rgba(192,192,192,0.4);
}
/* Myworks end */

/* Header */ 
.myname{
    z-index: 1000;    
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(../img/background1.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: table;
}
.myname > div{
    display: table-cell;
    vertical-align: middle;
}
.sub-myname{   
    display: table;
    margin: 0 auto;
}
.sub-myname div::before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid white;
    border-radius: 50%;    
    height: 270px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.sub-myname div{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 300px;
    width: 300px;
    margin: 0px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border:10px solid white;
    background-color: rgba(38,166,154,0.7);
    transition: border-color 1s;
}
.sub-myname div:hover{
    border-color: rgba(38,166,154,0.1);
}
.sub-myname h1{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.sub-myname span{
    color: white;
    text-align: right;
    display: block;
    padding-right: 38px;
    font-size: 18px;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
}
.icons{
    display: block;
    text-align: center;
    position: absolute;   
    width: 100%;
    font-size: 30px;
} 
.icons div{
    display: inline-block;
    margin-top: 10px;
}
.icons div + div{
    margin-left: 20px;
}
.icons a{
    text-decoration: none;
    color:white;
    transition: all 0.3s ease;
}
.icons a:hover{
    color:rgb(38,166,154);  
}
.downbutton{
    position: absolute;
    width: 100%;
    bottom:0;
}
.downbutton div{
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;    
}
.downbutton a{
    color:white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.downbutton a:hover{
    color:rgb(38,166,154);  
}
/* Header end */

/* Aboutme */
.aboutme h1{
    font-weight: bold;
}
.infosaboutme table tbody tr:first-child td div{
    width: 50px;
    height: 50px;
    border: 5px solid #26a69a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    vertical-align: middle;
    margin: 10px auto;
    padding-top: 6px;
    background-color: #26a69a;
    color: white;
    position: relative;
    transition: all 0.3s ease;
}
.infosaboutme table tbody tr:first-child td div:hover{
    background-color: white;
    color:#26a69a;
    cursor: pointer;
}
.infosaboutme table tbody tr:first-child td div:before{
    content: ' ';
    position: absolute;
    height: 20px;
    width: 10px;
    left: 15px;
    background-color: #26a69a;
    top:-20px;
}
.infosaboutme table tbody tr:first-child td{
    width: 25%;
}
.infosaboutme table tbody tr:first-child td div i{
    font-size: 24px;
}
.infosaboutme .row div:first-child div{
    width: 140px;
    text-align: center;
}
.infosaboutme .row div:nth-child(2) div{
    margin-left: -23px;
}
.infosaboutme .row div:nth-child(3) div{
    margin-left: 17px;
}
.infosaboutme .row div:nth-child(4) div{
    margin-left: -7px;
}
.myface img{
    border: 10px solid #26a69a;
    margin: 0 auto;
    margin-bottom: 30px;
}
.myface::after{
    content: ' ';
    position: absolute;
    height: 40px;
    width: 10px;
    bottom: -35px;
    background-color: #26a69a;
    left:0;
    margin-left: 273px;
}
.myface{
    position: relative;
}
.aboutme h4{
    margin-bottom: 15px;
    margin-top: 25px;
}
.bars{
    width: 100%;
    margin: 0 auto;
}
.bars li{
    position: relative;
    margin-bottom: 25px;
    background: #bdc3c7;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    overflow: hidden;
}
.bars .css{
    background-color: #3498db;
    width: 80%;    
}
.bars .js{
    width: 50%;
    background-color: #66BB6A;
}
.bars .html5{
    width: 85%;
    background-color: #5e35b1;
}
.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background-color: #34495e;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;    
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
}
.bars li em {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bold;    
    position: relative;
    display: block;
    padding-top: 6px;
}
/* Aboutme end */

/* Contactme  */

.contactme{
    margin-bottom: 100px;    
}
.contactme input{
    font-size: 14px;
}
.contactme textarea{
    resize: none;    
    height: 118px !important;
    max-height: 118px;
    font-size: 14px;
}
.contactme h1{
    font-weight: bold;
}
.contact-info label{
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding-right: 5px;
}
.contact-info a{
    text-decoration: none;
    color: #4db6ac;
}
.contact-info ul li{
    padding-bottom: 10px;
}
/* Contactme end */

.g-recaptcha > div > div{
    margin: 0 auto;
    margin-bottom: 15px;
}

/* Fake P */

.fake-parallax{
    background-attachment: fixed;
    background-image: url(../img/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 300px;
    border-top: 5px solid #4db6ac;
    border-bottom: 5px solid #4db6ac;
}
.fake-parallaxTwo{
    background-attachment: fixed;
    background-image: url(../img/background3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 300px;
    border-top: 5px solid #4db6ac;
    border-bottom: 5px solid #4db6ac;
    display: table;
    width: 100%;
}
.fake-parallax h1{
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* Fakep end */

/* Social icons footer */
.social-icons{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.social-icons a i{
    font-size: 50px;
}
.social-icons a{
    text-decoration: none;
    color:white;
    transition: all 0.3s ease;
    display: table-cell;
    vertical-align: middle;
    background-color: #4db6ac;
    width: 80px;
    height: 80px;    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.social-icons ul li + li{
    margin-left: 30px;
}
.social-icons a:hover{
    color: #4db6ac;
    background-color: white;
}
/* Social icons footer end */
/* Gline */
.greenline{
    height: 10px;
    background-color: #4db6ac;
    margin-bottom: 50px;
}
/* Gline end */

/* Menü */
.sticky{
    z-index: 5000;
}
.brand-name{
    display: table;
}
.brand-name div{
    display: table-cell;
    vertical-align: middle;
    padding-right: 3px;
}
.brand-name i{
    line-height: inherit;
    font-size: 14px;
}
.brand-name h4{
    padding: 0;
    margin: 0;
}
/* */
