body {
    font-family: "Roboto";
}

html, body {
    width: 100%;
    height: 100%;
}

section h1 {
    letter-spacing: 2px;

}

.pulse.go {
    animation-iteration-count: infinite;
}

/* MENU */
/* navigation */
nav {
    top: 0;
    height: 100%;
    width: 280px;
    background-color: rgba(238, 110, 115, 1);
    right: 0;
    z-index: 100;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(280px, 0);
    color: white;
    transition-duration:0.3s;
}

nav ul {
    margin-top: 75px;
}

nav ul li {
    text-align: center;
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: "Roboto-Medium";
    font-size: 24px;

}

nav ul li a:hover, nav ul li a:focus {
    text-decoration: none;
    color: white;

}

/* overlay layer */
.ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}

.open-navigation {
    position: fixed;
    top: 30px;
    right: 25px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-bottom: none;
    z-index: 50;
    cursor: pointer;
}

.close-navigation {
    position: fixed;
    right: 28px;
    top: 28px;
    z-index: 101;
    cursor: pointer;
}

.close-navigation i {
    color: white;
    font-size: 32px;
}

.open-navigation i {
    color: #ee6e73;
    font-size: 24px;
}

/* Email */
.emailsuccess {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

/* Loader */
#loader {
    background-color: white;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#loader .ball-clip-rotate > div {
    border-color: #4db6ac;
    border-bottom-color: transparent;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

/* Header */
.myname {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    background: transparent;
}

.myname header:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.myname header:hover {
    border-color: rgba(38, 166, 154, 0.1);
}

.myname header {
    margin-left: -150px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 10px solid white;
    background-color: rgba(38, 166, 154, 0.7);
    transition: border-color 1s;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
}

header h2 {
    margin-top: 110px;
    font-size: 36px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    font-family: "Roboto-Bold";
}

header h3 {
    color: white;
    margin-top: 5px;
    text-align: right;
    display: block;
    padding-right: 40px;
    font-size: 18px;
}

header.bounceInDown.go {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

/* down button */
.downbutton {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.downbutton div:first-child {
    text-align: center;
    color: white;
    font-family: "Roboto-Light";
}

.downbutton div:nth-child(2) {
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
}

.downbutton a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.downbutton a:hover {
    color: rgb(38, 166, 154);
}

/* Header end */

/* Aboutme */
.aboutme h1 {
    font-weight: bold;
}

.infosaboutme table tbody tr:first-child td div {
    width: 50px;
    height: 50px;
    border: 5px solid #26a69a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    vertical-align: middle;
    margin: 10px auto;
    padding-top: 6px;
    background-color: #26a69a;
    color: white;
    position: relative;
    transition: all 0.3s ease;
}

.infosaboutme table tbody tr:first-child td div:hover {
    background-color: white;
    color: #26a69a;
    cursor: pointer;
}

.infosaboutme table tbody tr:first-child td div:before {
    content: ' ';
    position: absolute;
    height: 20px;
    width: 10px;
    left: 15px;
    background-color: #26a69a;
    top: -20px;
}

.infosaboutme table tbody tr:first-child td {
    width: 25%;
}

.infosaboutme table tbody tr:first-child td div i {
    font-size: 24px;
}

.infosaboutme .row div:first-child div {
    width: 140px;
    text-align: center;
}

.infosaboutme .row div:nth-child(2) div {
    margin-left: -23px;
}

.infosaboutme .row div:nth-child(3) div {
    margin-left: 17px;
}

.infosaboutme .row div:nth-child(4) div {
    margin-left: -7px;
}

.myface img {
    border: 10px solid #26a69a;
    margin: 0 auto;
    margin-bottom: 30px;
}

.myface::after {
    content: ' ';
    position: absolute;
    height: 40px;
    width: 10px;
    bottom: -35px;
    background-color: #26a69a;
    left: 0;
    margin-left: 273px;
}

.myface {
    position: relative;
}

.aboutme h4 {
    margin-bottom: 15px;
    margin-top: 25px;
}

.download-cv {
    margin: 20px 0px 20px 0px;
    font-size: 16px;
}

.download-cv a {
    color: white;
    background-color: #4db6ac;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

.download-cv a span {
    padding-left: 10px;
}

.bars {
    width: 100%;
    margin: 0 auto;
}

.bars li {
    position: relative;
    margin-bottom: 25px;
    background: #bdc3c7;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    overflow: hidden;
}

.bars .css {
    background-color: #3498db;
    width: 80%;
}

.bars .js {
    width: 65%;
    background-color: #66BB6A;
}

.bars .html5 {
    width: 85%;
    background-color: #5e35b1;
}

.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background-color: #34495e;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
}

.bars li em {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    display: block;
    padding-top: 6px;
}

/* Aboutme end */
/* Myworks */
.myworks h1 {
    font-family: "Roboto-Light";
    font-size: 64px;
    color: white;
    margin-bottom: 70px;
    position: relative;
}
.myworks h1:after{
    content: '';
    width: 200px;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -100px;
}
.newworks{

    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}
.no-border{
    border-bottom: 0px;
}
.work-name {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    font-size: 36px;
    font-family: "Roboto-Light";
    text-align: left;
    color: black;
}
.work-name i{
    margin-left: 10px;
}
.work-name span{
    display: inline-block;
    margin: 0 auto;
    color: white;
    margin: 15px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(66, 66, 66, 0.7);
}
.newworks img{
    transition: all .2s ease-in-out;
}
.newworks:hover img{
    transform: scale(1.1);
}
.newworks:hover .work-name{

    background-color: rgba(66, 66, 66, 0.5);

}
.nopadding{
    padding: 0;
}
.myworks{
background-color: #424242;
}
.oldworks{
    min-height: 100px;
    background-color: white;
    font-size: 16px;
    padding-top:25px;
}
.oldworks ul{
    margin-bottom: 0;
}
.oldworks a{
    text-decoration: none;
    color: #26a69a;
}
.oldworks a:hover{
    text-decoration: none;
    color: #26a69a;
}
.myworks h4 {
    margin-bottom: 40px;
    text-decoration: underline;
    font-size: 24px;
    text-align: center;
}

.myworks .underc {
    position: relative;
}

.myworks .underc a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
}

.myworks .underc a:after {
    text-decoration: none;
    position: absolute;
    padding-top: 80px;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    content: 'Fejlesztés alatt!';
    background-color: rgba(192, 192, 192, 0.4);
}

/* Myworks end */
/* Contactme  */

.contactme {

    background-color: #26a69a;
    padding-bottom: 50px;
}

.contactme input {
    font-size: 14px;
}

.contactme textarea {
    resize: none;
    height: 118px !important;
    max-height: 118px;
    font-size: 14px;
}

.contactme h1{
    font-family: "Roboto-Light";
    font-size: 64px;
    color: white;
    margin-bottom: 70px;
    position: relative;
}
.contactme button{
    background-color: #424242;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    margin-top: 35px;
}
.contactme button:hover{
    color: white;

}
.contactme button i{
    margin-left: 5px;
}
.contactme h1:after {
    content: '';
    width: 200px;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -100px;
}

.contact-info {

}

.contactme h2 {
    margin-top: 0px;
    color: #fce4ec;
    margin-bottom: 40px;
    position: relative;
}

.contactme .or {
    color: white;
    font-size: 24px;
}

.contact-info label {
    background-color: #424242;
    font-size: 26px;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 4px;
    text-align: center;
}

.contact-info a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-left: 10px;
}

.contact-info ul li {
    padding-bottom: 10px;
}
.contactme form input{

}


/* Contactme end */
/* footer */
.page-footer {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #424242;
}
