/* Large desktop */
@media (min-width: 1200px) {

}
/*  */
@media (min-width: 992px) and (max-width: 1199px) {
    .infosaboutme{
        margin-bottom: 30px;
    }
    .infosaboutme .row div:first-child div{
        text-align: center;
        width: 100%;
        padding-left: 20px;
    }
    .infosaboutme .row div:nth-child(2) div{
        text-align: center;
        margin-left: 0;
        padding-left: 24px;
    }
    .infosaboutme .row div:nth-child(3) div{
        text-align: center;
        margin-left: -6px;
    }
    .infosaboutme .row div:nth-child(4) div{         
        text-align: center;
        margin-left: -25px;    
    }
    .myface::after{
        display: none;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
    .infosaboutme{
        margin-bottom: 30px;
    }
    .infosaboutme .row div:first-child div{
        text-align: center;
        width: 100%;
        padding-left: 22px;
    }
    .infosaboutme .row div:nth-child(2) div{
        text-align: center;
        margin-left: 0;
    }
    .infosaboutme .row div:nth-child(3) div{
        text-align: center;
        margin-left: -7px;
    }
    .infosaboutme .row div:nth-child(4) div{         
        text-align: center;
        margin-left: -20px;
    }
    .contact-info ul li:last-child a{
        display: block;
    }
    .sub-myname div{
        box-shadow: none;
    }
     .myface::after{
        display: none;
    }

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .sub-myname div{
        box-shadow: none;
    }
    .myface::after{
        display: none;
    }
    .contact-info{
        text-align: center;
        margin-top: 50px;
    }
    .sub-myname div::before{
        display: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .social-icons a{
        width: 50px;
        height: 50px;
    }
    .social-icons a i{
        font-size: 24px;
    }
    .list-inline > li{
        padding: 0;
    }
}

