/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014.01.23., 13:05:38
    Author     : Drax
*/

.indexlittlebox{
    position: absolute;
    top: 212px;
    margin-left: -30px;
}
.indexcontainer{
    background-color: white;
}
.leftindex{
    margin-top: 27px;
    padding-left: 50px;
    padding-right: 31px;
    border-right: 1px solid #dbdbdb;
}
.index-cont-title{
    font-size: 20px;
    color:#007ae2;
    font-family: "Open Sans Light";
    padding-bottom: 5px;
}
.index-cont{
    color:#494949;
    font-family: "Open Sans Light";
}
.bottomsign{
    text-align: right;
    color:#646464;
    font-family: 'open_sansregular';
    padding-top: 5px;
    line-height: 15px;
    margin-bottom: 35px;
}
.bottomsign span{
    color:#858585;
    font-size: 12px;
    font-family: "Open Sans Italic";
    padding-right: 27px;
}
.rightindex{
    margin-top: 27px;
}
.marginright{
    margin-right: 55px;
}
.index-items{
    margin-top: 5px;
}