/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014.01.23., 13:05:38
    Author     : Drax
*/

.logo img{
    margin: auto;
    margin-top: 113px;
    padding-left: 56px;
}
.dotted{
    margin-top: 28px;
}
.format1{
    color:#3d3d3d;
    font-size: 18px;
    margin-top: 26px;
    line-height: 20px;
    font-family: "Open Sans Light";
}
.format1 span{
    font-family: "open_sansbold";
}
.content{
    min-height: 530px;
    background: url(../img/link.png) center top 110px no-repeat;
    position: relative;
}
.dotted2 img{
    margin: auto;
    margin-bottom: 22px;
}
.format2{
    color:#3d3d3d;
    font-size: 18px;
    padding-left: 121px;
    padding-right: 121px;
    line-height: 20px;
    font-family: "Open Sans Light";
}
.format2 span{
    font-family: "open_sansbold";
}
.datamanagement a{
    color:#7e7e7e;
    font-size: 14.19px;
    text-decoration: underline;
}
.datamanagement{
    text-align: center;
    margin-bottom: 25px;
}
.tenderform{
    background: url(../img/footbg.png) no-repeat center;
    width: 498px;
    height: 129px;
    margin: auto;
    margin-top: 17px;
    margin-bottom: 10px;
}
.tenderform input[type="text"]{
    height: 35px;
    width: 335px;
    border:none;
    font-size: 18px;
    color:#6f6f6f;

    margin-top: 45px;
    margin-left: 60px;
    padding-left: 5px;
}
.tenderform input[type="image"]{
    position: absolute;
    margin-top: 40px;
    margin-left: -10px;
}
.centerkup{
    background: url(../img/kup.png) no-repeat center top;
    height: 251px;
    width: 64px;
    margin: auto;
}
.percent{
    color:#227306;
    font-size: 21.6px;
    font-family: "open_sansbold";

}
.circles{
    position: absolute;
    top: 0;
}
.circles div{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.circles div:first-child{
    background: url(../img/circles/1.png) no-repeat center;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 495px;
    margin-top: 85px;
}
.circles div:nth-child(2){
    background: url(../img/circles/2_closed.png) no-repeat center;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 547px;
    margin-top: 180px;

}
.circles div:nth-child(3){
    background: url(../img/circles/3.png) no-repeat center;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 522px;
    margin-top: 292px;

}
.circles div:nth-child(4){
    background: url(../img/circles/4_play.png) no-repeat center;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 442px;
    margin-top: 365px;
}
.circles div:nth-child(5){
    background: url(../img/circles/5.png) no-repeat center;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 342px;
    margin-top: 372px;
}
.circles div:nth-child(6){
    background: url(../img/circles/6.png) no-repeat center;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 252px;
    margin-top: 327px;
}
.circles div:nth-child(7){
    background: url(../img/circles/7.png) no-repeat center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 220px;
    margin-top: 242px;
}
.circles div:nth-child(8){
    background: url(../img/circles/8.png) no-repeat center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 230px;
    margin-top: 154px;
}

.circles div:nth-child(9){
    background: url(../img/circles/9.png) no-repeat center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    border:1px solid #8f8f8f;
    margin-left: 287px;
    margin-top: 84px;
}
.circles div a{
    color:#3d3d3d;
    font-size: 15.77px;
    font-family: "open_sansbold";
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.circles div a:hover{
    color:#017800;
    text-decoration: none;
}
.content .circles div:hover{
    border:5px solid #017800;
    cursor: pointer;

}
.content .circles div:hover a{
    color:#017800;
    text-decoration: none;

}
.content .circles div:first-child a{
    margin-left: 120px;
    margin-top: 30px;
    width: 145px;
}
.content .circles div:first-child a:hover, .content .circles div:first-child:hover a{
    margin-left: 116px;
    margin-top: 26px;

}
.content .circles div:nth-child(2) a:hover, .content .circles div:nth-child(2):hover a{
    margin-left: 114px;
    margin-top: 56px;

}
.content .circles div:nth-child(3) a:hover, .content .circles div:nth-child(3):hover a{
    margin-left: 101px;
    margin-top: 61px;
}
.content .circles div:nth-child(4) a:hover, .content .circles div:nth-child(4):hover a{
    margin-left: 66px;
    margin-top: 93px;
}
.content .circles div:nth-child(5) a:hover, .content .circles div:nth-child(5):hover a{
    margin-left: -29px;
    margin-top: 93px;
}
.content .circles div:nth-child(6) a:hover, .content .circles div:nth-child(6):hover a{
    margin-left: -94px;
    margin-top: 51px;
}
.content .circles div:nth-child(7) a:hover, .content .circles div:nth-child(7):hover a{
    margin-left: -89px;
    margin-top: 33px;
}
.content .circles div:nth-child(8) a:hover, .content .circles div:nth-child(8):hover a{
    margin-left: -146px;
    margin-top: 24px;
}
.content .circles div:nth-child(9) a:hover, .content .circles div:nth-child(9):hover a{
    margin-left: -89px;
    margin-top: 24px;
}
.content .circles div:nth-child(2) a{
    margin-left: 118px;
    margin-top: 60px;
    width: 95px;
}
.content .circles div:nth-child(3) a{
    margin-left: 105px;
    margin-top: 65px;
    width: 95px;
}
.content .circles div:nth-child(4) a{
    margin-left: 70px;
    margin-top: 97px;
    width: 111px;
}
.content .circles div:nth-child(5) a{
    margin-left: -25px;
    margin-top: 97px;
    width: 98px;
}
.content .circles div:nth-child(6) a{
    margin-left: -90px;
    margin-top: 55px;
}
.content .circles div:nth-child(7) a{
    margin-left: -85px;
    margin-top: 37px;
}
.content .circles div:nth-child(8) a{

    margin-left: -142px;
    margin-top: 28px;
}
.content .circles div:nth-child(9) a{
    margin-left: -85px;
    margin-top: 28px;
}

.show_tel{
    display: none;
}
.show_telephone{
    display: none;
}
.content .circles .selected{
    border:5px solid #bcbcbc;

}

.content .circles div.selected:first-child a{
    margin-left: 116px;
    margin-top: 26px;
    width: 145px;
}
.content .circles div.selected:nth-child(2) a{
    margin-left: 114px;
    margin-top: 56px;
    width: 95px;
}
.content .circles div.selected:nth-child(3) a{
    margin-left: 101px;
    margin-top: 61px;
    width: 95px;
}
.content .circles div.selected:nth-child(4) a{
    margin-left: 66px;
    margin-top: 93px;
    width: 111px;
}
.content .circles div.selected:nth-child(5) a{
    margin-left: -29px;
    margin-top: 93px;
    width: 98px;
}
.content .circles div.selected:nth-child(6) a{
    margin-left: -94px;
    margin-top: 51px;
}
.content .circles div.selected:nth-child(7) a{
    margin-left: -89px;
    margin-top: 33px;
}
.content .circles div.selected:nth-child(8) a{

    margin-left: -146px;
    margin-top: 24px;
}
.content .circles div.selected:nth-child(9) a{
    margin-left: -89px;
    margin-top: 24px;
}