/* Large desktop */
@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width:1199px) {

}
@media (max-width:1200px){

    .navbar-toggle{
        padding: 12px 10px;
        background-color: #c4c5cc;
        color:white;
    }
    .navbar-toggle:before, .navbar-toggle:after{
        clear: both;
        content: "";
    }
    .navbar-toggle .icon-bar {
        background-color: #1f336d;
    }
    .navbar{
        margin-bottom: 0;
        border:none;
        min-height: 0;
    }

    .container > .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
    }

}

@media (max-width:991px){
    .circles{
        margin-left: -80px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .content .circles div:first-child a:hover, .content .circles div:first-child:hover a{
        margin-left: 100px;
        margin-top: 25px;

    }
    .content .circles div:nth-child(2) a:hover, .content .circles div:nth-child(2):hover a{
        margin-top: 40px;
        margin-left: -100px;

    }
    .content .circles div:nth-child(3) a:hover, .content .circles div:nth-child(3):hover a{
        margin-left: 100px;
        margin-top: 40px;
    }
    .content .circles div:nth-child(4) a:hover, .content .circles div:nth-child(4):hover a{
        margin-top: 30px;
        margin-left: -70px;

    }
    .content .circles div:nth-child(5) a:hover, .content .circles div:nth-child(5):hover a{
        margin-left: 95px;
        margin-top: 20px;
    }
    .content .circles div:nth-child(6) a:hover, .content .circles div:nth-child(6):hover a{
        margin-top: 35px;
        margin-left: -87px;
    }
    .content .circles div:nth-child(7) a:hover, .content .circles div:nth-child(7):hover a{
        margin-left: 85px;
        margin-top: 30px;
    }
    .content .circles div:nth-child(8) a:hover, .content .circles div:nth-child(8):hover a{
        margin-top: 20px;
        margin-left: -75px;
    }
    .content .circles div:nth-child(9) a:hover, .content .circles div:nth-child(9):hover a{
        margin-left: 85px;
        margin-top: 30px;
    }

    .format1{
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo img{
        padding-left: 5px;
        padding-right: 5px;
    }
    .centerkup{
        display: none;
    }
    .row{
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-nav{
        margin: 0;

    }
    .percent{
        display: none;
    }
    .content{
        min-height: 0px;
        background: none;
    }

    .circles{
        position: relative;
        margin-left: 0;
    }
    .circles div {
        position: relative;

    }
    .content .circles div:hover{
        border:0px;
    }
    /* */
    .circles div:first-child{
        margin: 5px auto;
    }
    .circles div:nth-child(2){
        margin: 5px auto;

    }
    .circles div:nth-child(3){
        margin: 5px auto;

    }
    .circles div:nth-child(4){
        margin: 5px auto;
    }
    .circles div:nth-child(5){
        margin: 5px auto;
    }
    .circles div:nth-child(6){
        margin: 5px auto;
    }
    .circles div:nth-child(7){
        margin: 5px auto;
    }
    .circles div:nth-child(8){
        margin: 5px auto;
    }

    .circles div:nth-child(9){
        margin: 5px auto;
    }

    /* */
    /* */
    .content .circles div{
        border:none;
    }
    .content .circles div:first-child a{
        margin: 0;
        width: auto;
        margin-left: 100px;
        margin-top: 25px;
    }
    .content .circles div:nth-child(2) a{
        margin: 0;
        width: auto;
        margin-top: 40px;
        margin-left: -100px;
    }
    .content .circles div:nth-child(3) a{
        margin: 0;
        width: 100%;
        margin-left: 100px;
        margin-top: 40px;
    }
    .content .circles div:nth-child(4) a{
        margin: 0;
        width: auto;
        margin-top: 30px;
        margin-left: -70px;
        line-height: 18px;
    }
    .content .circles div:nth-child(5) a{
        margin: 0;
        width: 98px;
        margin-left: 95px;
        margin-top: 20px;
    }
    .content .circles div:nth-child(6) a{
        margin: 0;
        width: auto;
        margin-top: 35px;
        margin-left: -87px;
    }
    .content .circles div:nth-child(7) a{
        margin: 0;
        width: auto;
        margin-left: 85px;
        margin-top: 30px;
    }
    .content .circles div:nth-child(8) a{
        margin: 0;
        width: auto;
        margin-top: 20px;
        line-height: 18px;
        margin-left: -75px;
    }

    .content .circles div:nth-child(9) a{
        margin: 0;
        width: auto;
        margin-left: 85px;
        margin-top: 30px;
    }

    .format2{
        padding-left: 20px;
        padding-right: 20px;
    }
    .show_telephone{
        display: block;
    }
    .hide_telephone{
        display: none;
    }
    .format2{
        margin-top: 10px;
    }
    .datamanagement{
        margin-top: 20px;
    }
    /* */
}

/* Landscape phones and down */
@media (max-width: 480px) {
}


@media(max-width:518px){
    .tenderform{
        width: 100%;
        text-align: center;
    }
    .tenderform input[type="image"]{
        position: relative;
        margin-left: 0;
        margin-top: 0;
    }
    .tenderform input[type="text"]{
        max-width: 320px;
        width: auto;
        margin: auto;
        margin-top: 30px;
    }
    .show_tel{
        display: block;
    }

}

