/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014.01.23., 13:05:38
    Author     : Drax
*/
.container-foot{
    padding: 20px 45px;
    padding-bottom: 30px;

}
.boxes{
        margin-bottom: 25px;
}
.boxes img{
    width: 210px;
    height: 100px;
    max-width: none;
}
.text1{
    color:#515151;
    line-height: 17px;
    margin-bottom: 10px;
     padding-left: 2px;
    padding-right: 2px;
}
.text1 a{
    color:#e6001f;
    text-decoration: underline;
   
}