@import "variables.less";
// Full page
body,html {
  font-family: @Roboto;
  width: 100%;
  height: 100%;
}
a{
  outline: none;
  &:focus{
    border: none;
    text-decoration: none;
  }
}
// H1
section h1 {
  letter-spacing: 2px;
  font-family: @Roboto-Light;
  font-size: 64px;
  color: @white;
  margin-bottom: 70px;
  position: relative;
  &:after{
    content: '';
    width: 200px;
    height: 3px;
    background-color: @white;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -100px;
  }
}
// Down button
.infinite {
  .infinite;
}
// Menu
nav {
  top: 0;
  height: 100%;
  width: 280px;
  background-color: rgba(238, 110, 115, 1);
  right: 0;
  z-index: 100;
  position: fixed;
  overflow-y: auto;
  overflow-x: visible;
  transform: translate(280px, 0);
  color: white;
  transition-duration:0.3s;
    ul {
      margin-top: 75px;
      li{
        text-align: center;
        margin-bottom: 20px;
        a{
          text-decoration: none;
          color: @white;
          display: block;
          font-family: @Roboto-Medium;
          font-size: 24px;
          &:hover{
            text-decoration: none;
            color: @white;
          }
          &:focus{
            text-decoration: none;
            color: @white;
          }
        }
      }
    }
}
.ssm-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1;
}
.open-navigation {
  position: fixed;
  top: 30px;
  right: 25px;
  width: 35px;
  display: block;
  height: 35px;
  text-decoration: none;
  border-bottom: none;
  z-index: 50;
  cursor: pointer;
    i{
      color: @light-red;
      font-size: 26px;
      padding-top: 5px;
    }
}
.close-navigation {
  position: fixed;
  right: 31px;
  top: 31px;
  z-index: 101;
  cursor: pointer;
  padding: 0 5px 0 5px;
    i{
      color: @white;
      font-size: 32px;
    }
}
// Loader
#loader {
  background-color: @white;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  .ball-clip-rotate > div {
    border-color: @light-green;
    border-bottom-color: transparent;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
  }
}
/* Header */
.myname {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  background: transparent;
    header {
      margin-left: -150px;
      margin-top: -150px;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 300px;
      width: 300px;
      border: 10px solid @white;
      background-color: rgba(38, 166, 154, 0.7);
      .header-transition;
      .header-box-shadow;
      .header-border-radius;
        &:before{
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border: 5px solid white;
          .header-border-radius;
        }
        &:hover{
           border-color: rgba(38, 166, 154, 0.1);
        }
        h2{
          margin-top: 110px;
          font-size: 36px;
          margin-bottom: 0px;
          color: @white;
          text-align: center;
          font-family: @Roboto-Bold;
        }
        h3{
          color: @white;
          margin-top: 5px;
          text-align: right;
          display: block;
          padding-right: 40px;
          font-size: 18px;
        }
    }
}
// Down button
.downbutton {
  position: absolute;
  width: 100%;
  bottom: 0;
    div:first-child {
      text-align: center;
      color: @white;
      font-family: @Roboto-Light;
    }
    div:nth-child(2) {
      text-align: center;
      padding-bottom: 20px;
      font-size: 50px;
    }
    a{
      color: @white;
      text-decoration: none;
      .down-ease;
        &:hover{
          color: @light-green;
        }
    }
}

// About me
.aboutme{
  background-color: #66bb6a;
  padding: 30px 0px 50px 0px;
}
// Skills
.skills{
  background-color: @light-blue;
  padding: 30px 0px 50px 0px;
    .frontend-title{
      display: inline-block;
      background-color: @white;
      color: @light-blue;
      font-family: @Roboto-Medium;
      font-size: 28px;
      padding: 10px 15px;
      position: relative;
      margin-top: 150px;
      margin-left: 40px;
      margin-bottom: 150px;
        &:after{
          position: absolute;
          content: "";
          width: 100px;
          height: 2px;
          background-color:@white;
          right: -100px;
          top: 50%;
          margin-top: -1px;
        }
    }
    .connect{
      height: 260px;
      width: 2px;
      background-color: @white;
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 40px;
        &:before{
          height: 2px;
          width: 20px;
          top: 50%;
          margin-top: -1px;
          position: absolute;
          content: "";
          left: -20px;
          background-color:@white;
        }
    }
    .skill-wrapper{
        .html5{
          height: 60px;
          margin-top: 20px;
          width: 50%;
          background-color: @light-blue;
          color: @white;
          font-family: @Roboto-Medium;
          font-size: 28px;
          position: relative;
          margin-left: 40px;
          border: 2px solid @white;
            &:before{
              height: 2px;
              width: 98px;
              top: 50%;
              margin-top: -1px;
              position: absolute;
              content: "";
              left: -98px;
              background-color:@white;
            }
            &:after{
              content:"HTML5" ;
              position: absolute;
              color: @white;
              font-size: 24px;
              font-family: @Roboto-Medium;
              right: 0px;
              width: 150px;
              top: 10px;
              margin-right: -180px;
            }
          .bar{
            width:0%;
            overflow:hidden;
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            background-color: #36BBCE  ;
          }
          .go{
            width: 85%;
          }
        }
        .css3{
          height: 60px;
          margin-top: 70px;
          margin-left: 40px;
          width: 50%;
          background-color: @light-blue;
          color: @white;
          font-family: @Roboto-Medium;
          font-size: 28px;
          position: relative;
          border: 2px solid @white;
            &:before{
              height: 2px;
              width: 98px;
              top: 50%;
              margin-top: -1px;
              position: absolute;
              content: "";
              left: -98px;
              background-color:@white;
            }
            &:after {
              content: "CSS3";
              position: absolute;
              color: @white;
              font-size: 24px;
              font-family: @Roboto-Medium;
              right: 0px;
              width: 150px;
              top: 10px;
              margin-right: -180px;
            }
            .bar{
              width:0%;
              overflow:hidden;
              -webkit-transition: width 2s ease-in-out;
              -moz-transition: width 2s ease-in-out;
              -o-transition: width 2s ease-in-out;
              transition: width 2s ease-in-out;
              background-color: #FF8F40  ;
            }
            .go{
              width: 75%;
            }
        }
        .javascript{
          height: 60px;
          margin-left: 40px;
          margin-top: 70px;
          width: 50%;
          background-color: @light-blue;
          color: @white;
          font-family: @Roboto-Medium;
          font-size: 28px;
          position: relative;
          border: 2px solid @white;
            &:before{
              height: 2px;
              width: 98px;
              top: 50%;
              margin-top: -1px;
              position: absolute;
              content: "";
              left: -98px;
              background-color:@white;
            }
            &:after {
              content: "JavaScript";
              position: absolute;
              color: @white;
              font-size: 24px;
              font-family: @Roboto-Medium;
              right: 0px;
              width: 150px;
              top: 10px;
              margin-right: -180px;
            }
            .bar{
              width:0%;
              overflow:hidden;
              -webkit-transition: width 2s ease-in-out;
              -moz-transition: width 2s ease-in-out;
              -o-transition: width 2s ease-in-out;
              transition: width 2s ease-in-out;
              background-color: #34D0BA ;
            }
            .go{
              width: 60%;
            }
          }
    }
    .html5 div,.css3 div,.javascript div{
      float: left;
      height: 56px;
    }
    .html5 .percent:after, .css3 .percent:after, .javascript .percent:after{
      content: "%";
      position: absolute;
      font-size: 18px;
      right: -14px;
      top: 7px;
      color: @white;

    }
    .percent{
      font-family: @Roboto-Light;
      font-size: 22px;
      padding-top: 15px;
      padding-left: 5px;
      position: relative;
    }
    .valid,.more{
      color: white;
      font-size: 16px;
      letter-spacing: 1px;
    }
    .more{
      margin: 20px 0;

    }
}
// My works
.myworks{
  background-color: @light-black;
  padding: 30px 0px 50px 0px;
  .nopadding{
    padding: 0;
  }
  .newworks{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    .work-name {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      .work-transition;
      font-size: 36px;
      font-family: @Roboto-Light;
      text-align: left;
      color: @black;
      i{
        margin-left: 10px;
      }
      span{
        display: inline-block;
        color: @white;
        margin: 25px;
        padding: 5px 10px 5px 10px;
        background-color: rgba(66, 66, 66, 0.7);
      }
    }
    img{
      .work-transition;
    }
    &:hover img{
      .img-transform;
    }
    &:hover .work-name{
      background-color: rgba(66, 66, 66, 0.6);
    }
  }
    .created-date{
      margin: 10px auto 20px auto;
      text-align: center;
      color: white;
      font-size: 16px;
      font-family: @Roboto-Light;
    }
}
// Contact me
.contactme {
  background-color: @light-green;
  padding-bottom: 50px;
    textarea {
      resize: none;
      min-height: 200px;
    }
    button{
      background-color: @light-black;
      border: 1px solid @white;
      color: @white;
      font-size: 18px;
      margin-top: 35px;
        &:hover{
          color:white;
        }
        i{
          margin-left: 5px;
        }
    }
    h2{
      margin-top: 0px;
      color: @white;
      margin-bottom: 40px;
      position: relative;
    }
    .contact-info{
        label {
          background-color: @light-black;
          font-size: 26px;
          color: @white;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          padding-top: 4px;
          text-align: center;
        }
        a{
          text-decoration: none;
          color: @white;
          font-size: 16px;
          padding-left: 10px;
        }
        ul li{
           padding-bottom: 10px;
        }
    }
}
/* footer */
.page-footer {
  color: @white;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @light-black;
}
